<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Home Page</title>
</head>

<p><a href="/">Home</a> This will become the main page where people can login or register</p>
<p><a href="/register">Register</a></p>
<p><a href="/login">Login</a></p>
<p><a href="/welcome">Welcome</a></p>
<p><a href="/about">About</a></p>
<p><a href="/create">Create</a></p>
<p><a href="/rsvp">RSVP</a></p>


<body>
  {{{body}}}
</body>

</html>
