
      
      <img src="imgs/create.jpg" class="img-fluid mt-1 mb-2" alt="Responsive image">

      <h2>Create a Party!</h2>

      <p>Let's face it - planning for a party is stressful. It can lead people to pull out their hair ... or avoid even having a party. That is where unWrapped comes in. Use the form below to fill out all of the details of your party, including party name, location, type of party, date and time. When you hit submit, we'll log your data and then provide you with a party code. Share this code with your invitees (friends, family, co-workers, etc), and we will keep track of your guests.</p>
      <p>Made a mistake? Don't worry - you can update your party using the "Your Parties" tab.</p>
      <form id="createForm" class="mb-5">
          <div class="form-group mt-3">
            <label>Party Name</label>
            <input type="name" class="form-control" id="partyName">
          </div>

          <div class="form-group">
            <label>Party Location</label>
            <input type="text" class="form-control" id="partyLocation">
          </div>

          <div class="form-group">
            <label>Party Type</label>
            <select class="form-control" id="partyType">
              <option selected>Choose...</option>
              <option value="Bridal">Bridal</option>
              <option value="Wedding">Wedding</option>
              <option value="Baby">Baby</option>
              <option value="Birthday">Birthday</option>
              <option value="Graduation">Graduation</option>
              <option value="Retirement">Retirement</option>
            </select>
          </div>

          <div class="form-group">
            <label>Party Date</label>
            <small></small>
            <input type="date" class="form-control" id="partyDate" placeholder="MM/DD/YYYY">
          </div>


          <div class="form-group">
            <label>Party Time</label><br>
              <input type="time" id="partyTime" name="appt" min="00:00" max="23:59" required>
          </div>

          <button type="submit" class="btn btn-primary" id="createSubmit">Submit</button>
        </form>

        <div class="m-5 align-center" id="createConfirm">

        <div class="card mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4" id="img">
              
            </div>
              <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><span id="cardTitle"></span></h5>
                <p class="card-text" id="cardText"></p>
              </div>
            </div>
          </div>
        </div>
        </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/create.js"></script>
