<div id="createParty">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2>Unwrapped - This is our create party Page!</h2>

        <form>
            <div class="form-group">
              <label>Party Name</label>
              <input type="name" class="form-control" id="partyName">
            </div>

            <div class="form-group">
              <label>Party Location</label>
              <input type="text" class="form-control" id="partyLocation">
            </div>

            <div class="form-group">
              <label>Party Type</label>
              <select class="form-control" id="partyType">
                <option selected>Choose...</option>
                <option value="bridal">Bridal</option>
                <option value="wedding">Wedding</option>
                <option value="baby">Baby</option>
                <option value="birthday">Birthday</option>
              </select>
            </div>

            <div class="form-group">
              <label>Party Date</label>
              <small></small>
              <input type="date" class="form-control" id="partyDate" placeholder="MM/DD/YYYY">
            </div>

            <div class="form-group">
              <label>Party Time</label>
              <small></small>
              <input type="text" class="form-control" id="partyTime"">
            </div>

            <button type="submit" class="btn btn-primary" id="createSubmit">Submit</button>
          </form>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/create.js"></script>
