<div id="guestPage">
    <div class="container">
        <table class="table">
  <thead>
    <tr>
      <th scope="col">Guest Name</th>
      <th scope="col">Mailing Address</th>
      <th scope="col">Email Address</th>
      <th scope="col">Contact Number</th>
      <th scope="col">Gift</th>
      <th scope="col">Said Thank You!</th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>
    </div>
</div>