<img src="imgs/myrsvps.jpg" class="img-fluid mt-1 mb-2" alt="Responsive image">

<h2>Manage Your RSVPs!</h2>

<p>On this page, you have the ability to manage the parties in which you have RSVP'd for. Don't think you'll be able to make it anymore? Go ahead and delete yourself from the list!</p>

<div id="myRsvps mb-5">
  {{!-- <p id="norsvp">Sorry — No RSVPs!</p> --}}
  <table class="table text-center align-middle">
    <thead>
      <tr>
        <th scope="col">Party</th>
        <th scope="col">Occasion</th>
        <th scope="col">Location</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody id="myRsvpsList">
      </tr>
    </tbody>
  </table>
  
</div>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>AOS.init();</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/myRsvps.js"></script>