<div id="myParties">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2>Unwrapped - This is your my parties Page!</h2>

        <p>Below is your information</p>

        <p>Below are your parties</p>

      </div>
    </div>
  </div>
</div>

{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script> --}}
