<div id="registryPage">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2>Unwrapped - This is our registry Page!</h2>

        <p>Please enter your organizer code provided to you at the time of creation</p>

        <form>
          <div class="form-group">
            <label>Organizer Code</label>
            <input type="text" class="form-control" id="organizerCode">
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

      </div>
    </div>
  </div>
</div>

{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script> --}}
