
  <h2>Unwrapped - This is our rsvp Page!</h2>

  <p>Please enter your party code provided by the organizer</p>

  <form id="rsvpForm">
    <div class="form-group">
      <label>Party Code</label>
      <input type="text" class="form-control" id="partyCode">
    </div>

    <button type="submit" class="btn btn-primary" id="rsvpBtn">Look Up</button>
  </form>

  <div id="rsvpInfo">
  <div id="rsvpText"></div>
  <button type="submit" class="btn btn-primary" id="rsvpConfirm">RSVP</button>
  </div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/rsvp.js"></script>