<div id="rsvpPage">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">

        <h2>Unwrapped - This is our rsvp Page!</h2>

        <p>Please enter your party code provided by the organizer</p>

        <form>
          <div class="form-group">
            <label>Party Code</label>
            <input type="text" class="form-control" id="partyCode">
          </div>

          <button type="submit" class="btn btn-primary" id="rsvpBtn">Submit</button>
        </form>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/rsvp.js"></script>