<img src="imgs/welcome2.jpg" class="img-fluid" alt="Responsive image">
<h2 class="mt-3">Welcome, <span id="welcomeName"></span>!</h2> <br>

<p>This is your unWrapped Portal. From here, you have the ability to create a new party, RSVP for a party and manage your parties. What would you like to do?</p>

<p>Just click above to get started!</p>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/welcome.js"></script>
