body {
  background-color: #DBF1FF;
}

.sideBar {
  text-align: center;
  background-color:	#696969;
  height: 100%;
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;
  padding-top: 1%;
}

.sideBar a {
  padding: 30px 5px 30px 5px;
  text-decoration: none;
  font-size: 18px;
  color: white ;
  display: block;
  border-bottom: #818181 solid 1px;
}

.sideBar a:hover {
  color: greenyellow;
}

.theCard {
  display: inline-block;
}

#cardBody {
  background-color: red;
}
