body {
  background-color: #DBF1FF;
  font-family: 'Varela Round', sans-serif;
}

p {
  font-size: 18px;
}

h2 {
  font-size: 48px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#navText {
  background-color: #696969;
  color: wheat;
  font-size: 32px;
}

.navLinks {
  margin-left: 25px;
  margin-right: 25px;
}

.navLinks a {
  float: left;
  text-decoration: none;
  font-size: 18px;
  color: white ;
}

#navText a:hover {
  color:white;
}

.theCard {
  display: inline-block;
}

#cardBody {
  background-color: #FFFFDB;
}
